:root{
    --primary-bg: #000;
    --second-bg: #0c0c0c;
    --primary-font: #feeceb;
    --secondary-font: #ff39bd;
    /* --secondary-font: #ff00aa; */
    /* --secondary-font: #ffcc00; */
}

*{
    padding: 0;
    margin: 0;
    color: var(--primary-font);
    font-family: 'Roboto';
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: var(--primary-bg);
}

.navbar{
    max-width: 1240px;
    min-height: 80px;
    margin: auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 30px;
}

nav{
    display: none;
}
ul{
    list-style: none;
    display: flex;
}
li a{
    font-size: 1rem;
    padding-left: 2rem;
    text-decoration: none;
    color: var(--primary-font);
    cursor: pointer;
}

li a:hover{
    color: var(--secondary-font);
}

.hero{
    width: 100%;
    background-color: var(--primary-bg);
}

.hero-content{
    max-width: 1240px;
    min-height: auto;
    margin: auto;
    display: flex;
    padding: 2rem 2rem;
    background-color: var(--primary-bg);
}

.hero-intro{
    width: 100%;
    color: var(--primary-font);
}

.hero-info h1{
    font-size: 2rem;
}

.hero-info p{
    font-size: 1.2rem;
}

.hero-info h2{
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1rem;
}
.hero-info i{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding-left: 0.4rem;
    cursor: pointer;
}

.hero-info i:hover{
    color: var(--secondary-font);
}

.hero-btn{
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.4rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--primary-bg);
    border: 1px solid var(--secondary-font);
    background-color: var(--secondary-font);
}

.hero-btn:hover{
    color: var(--secondary-font);
    border: 1px solid var(--secondary-font);
    background-color: transparent;
}

.hero-img{
    display: none;
}




/* service css */
.services{
    width: 100%;
    background-color: var(--second-bg);
}

.service-content{
    max-width: 1240px;
    height: auto;
    padding: 0 2rem;
    margin: auto;
    color:var(--primary-font);
}

.card:nth-child(5){
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row:span 2;
}

.card-col-span-2{
    grid-column: span 2;
}

.skill-content{
    max-width: 1240px;
    height: auto;
    padding: 0 2rem;
    margin: auto;
    color:var(--primary-font);
}

.skill-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.card-logo{
    width: 100px;
    flex-grow: 1;
    padding: 1rem 0;
    border: 1px solid var(--secondary-font);
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
}

.card-logo:hover i{
    color: var(--secondary-font);
}

.card-logo i{
    font-size: 2rem;
    color: var(--primary-font);
}

.card-logo p{
    margin-top: 0.5rem;
}

.card{
    border: 1px solid var(--secondary-font);
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}



/* Project css */
.project{
    width: 100%;
    background-color: var(--primary-bg);
}

.project-content{
    max-width: 1240px;
    height: auto;
    padding: 2rem;
    margin: auto;
    color:var(--primary-font);
}

.project-content h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.project-cards{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.card-banner{
    width: 300px;
    margin-bottom: 1rem;
}

.card-banner-image{
    width: 300px;
}

.card-banner h3{
    margin: 0.8rem 0 0.5rem 0;
}

/* About css */
.about{
    width: 100%;
    background-color: var(--second-bg);
}

.about-content{
    max-width: 1240px;
    height: auto;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    color:var(--primary-font);
}

.about-img{
    width: 50%;
}

.about-img img{
    width: 500px;
}

.about-description{
    width:50%;
    display: flex;
    align-items: center;
}


@media screen and (min-width: 440px){
    .service-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        padding: 0.5 1rem;
    }
    .card-logo{
        width: 150px;
    }
    .card-logo i{
        font-size: 3rem;
    }
}
@media screen and (min-width: 441px){
    .services{
        padding: 2rem 0;
    }
    .service-cards{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .card{
        margin-bottom: 0;
    }
    .skill-content{
        margin-top: 0.5rem;
    }
}


@media screen and (min-width: 767px){
    .logo img{
        width: 45px;
    }
    nav{
        display: block;
    }
    nav ul li a{
        font-size: 1rem;
    }
    .hero-content{
        padding: 0 2rem;
    }
    .hero-intro{
        width: 50%;
        display: flex;
        align-items: center;
    }
    .hero-info h1{
        font-size: 3.2rem;
    }
    .hero-img{
        width: 50%;
        display: inline-block;
    }
    .hero-img img{
        width: 360px;
        margin-left: 2rem;
    }

    /* service css */
    .services{
        padding: 2rem 0;
    }
    .service-content{
        padding: 1rem 2rem;

    }
    .service-cards{
        grid-template-columns: repeat( 4, 1fr);   
    }

    .card:nth-child(5){
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row:span 1;
    }

    .skill-cards{
        padding: 1.5rem 0;
    }
}

@media screen and (min-width: 1200px){
    .logo img{
        width: 50px;
    }

    .hero-img img{
        width: 590px;
        margin-left: 1rem;
    }

    .service-content{
        padding-top: 5rem;

    }
}



